In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import userpass

In [9]:
#pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
#builds our url 
path = f"postgresql://{userpass}@localhost:5432/sql-challenge-mod-9"

In [4]:
engine = create_engine(path)
connection = engine.connect()

In [6]:
departments = pd.read_sql("SELECT * FROM departments", connection)
departments

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service